@import 'tailwindcss';

/* 디자인 토큰 */
@theme {
  /* Primary */
  --color-primary-100: #82a2ff;
  --color-primary-200: #6b77e2;
  --color-primary-300: #3f70ff;

  /* Secondary */
  --color-secondary-100: #ccd0dd;
  --color-secondary-200: #b7c0d8;
  --color-secondary-300: #827fa7;
  --color-secondary-400: #6c698d;

  /* Accent */
  --color-success-100: #f0faee;
  --color-success-200: #65cf55;
  --color-warning-100: #fffee4;
  --color-warning-200: #ffc84b;
  --color-error-100: #ffe9e9;
  --color-error-200: #d7260d;

  /* Body */
  --color-neutral-100: #ffffff;
  --color-neutral-200: #fffefd;
  --color-neutral-300: #f5f5f5;
  --color-neutral-400: #f0f0f0;
  --color-neutral-500: #cccccc;
  --color-neutral-600: #898989;
  --color-neutral-700: #242424;

  /* Text */
  --text-middle: 20px;
  --font-weight-middle: 700;
}

/* 스와이퍼 */
@layer swiper {
  /* 메인페이지 */
  /* 배너 */
  .main-banner-slide {
    @apply flex items-center justify-center;
    img {
      @apply w-full h-full object-cover;
    }
  }
  .swiper-pagination-bullet-active {
    @apply !bg-primary-300;
  }

  /* 최애 아티스트 */
  .artist-swiper {
    /* 스와이퍼 래퍼 */
    .swiper-wrapper {
      @apply items-stretch flex p-0 overflow-visible;
    }
  }

  /* 네비게이션 버튼 */
  .swiper-button-next {
    @apply !right-0;
  }
  .swiper-button-prev {
    @apply !left-0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    @apply !h-[1/2] top-[50%] translate-y-[-40%];
    @apply !text-neutral-200 rounded-full !font-bold opacity-0;
    @apply bg-neutral-600/60;
    @apply transition-opacity duration-300 ease-in-out;

    &:hover {
      @apply opacity-80;
    }

    &:active {
      @apply opacity-100;
    }

    &::after {
      @apply !text-2xl;
    }
  }
}

/* 컴포넌트 */
@layer components {
  /* 메인페이지 컨텐츠 */
  .main-content {
    @apply flex flex-col gap-4;

    h2 {
      @apply text-[28px] font-extrabold;
    }
  }

  /* 헤더 상단 네비게이션 바 메뉴 */
  nav {
    .nav-menu {
      &:hover {
        @apply text-primary-300;
      }
    }
  }

  /* 편집기 페이지 */
  .editor_left-buttons,
  .editor_right-buttons {
    button,
    label {
      @apply bg-neutral-50 text-neutral-950;
      @apply flex justify-center items-center;
      @apply py-2 px-4 rounded-t-2xl;
      @apply w-fit text-nowrap;
    }

    button:disabled,
    label:disabled {
      @apply !cursor-default;
      @apply bg-secondary-100 text-neutral-600;
    }

    button:not(:disabled):hover,
    label:not(:disabled):hover {
      @apply bg-secondary-200 cursor-pointer;
    }

    button:not(:disabled):active,
    label:not(:disabled):active {
      @apply bg-neutral-200;
    }
  }

  .editor_left-buttons {
    button,
    label {
      @apply flex items-center gap-2;

      svg {
        @apply w-5;
        @apply min-w-5;
      }
    }
  }

  .editor_right-buttons {
    button {
      @apply flex flex-col items-center gap-2;
      @apply px-5;

      svg {
        @apply h-7;
        @apply min-h-7;
        @apply p-0 m-0;
      }
    }
  }

  .editor_round-button {
    @apply flex items-center gap-2;
    @apply px-3 py-2;
    @apply border-1 border-neutral-500 rounded-2xl;
    @apply bg-neutral-50 text-neutral-950;
    @apply hover:bg-secondary-200 active:bg-neutral-100;
    @apply disabled:text-neutral-600 disabled:cursor-default!;
    @apply disabled:hover:bg-neutral-50;

    svg {
      @apply w-5 h-5;
      @apply min-w-5;
    }
  }
}
