@import 'tailwindcss';

@theme {
  /* Primary */
  --color-primary-100: #82A2FF;
  --color-primary-200: #6B77E2;
  --color-primary-300: #3F70FF;

  /* Secondary */
  --color-secondary-100: #CCD0DD;
  --color-secondary-200: #B7C0D8;
  --color-secondary-300: #827FA7;
  --color-secondary-400: #6C698D;
  
  /* Accent */
  --color-success-100: #F0FAEE;
  --color-success-200: #65CF55;
  --color-warning-100: #FFFEE4;
  --color-warning-200: #FFC84B;
  --color-error-100: #FFE9E9;
  --color-error-200: #D7260D;
  
  /* Body */
  --color-neutral-100: #FFFFFF;
  --color-neutral-200: #FFFEFD;
  --color-neutral-300: #F5F5F5;
  --color-neutral-400: #F0F0F0;
  --color-neutral-500: #CCCCCC;
  --color-neutral-600: #898989;
  --color-neutral-700: #242424;
  

}

@utility wrapper {
  @apply min-w-80 max-w-180 mx-auto;
}
